<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="XmlFile"
           value="C:\Users\thanh.phan\Documents\Visual Studio 2015\Projects\ado.net-playground\XmlPlayground\XML\EmployeesWrite.xml"/>
      <add key="XsdFile"
           value="C:\Users\thanh.phan\Documents\Visual Studio 2015\Projects\ado.net-playground\XmlPlayground\XML\EmployeesWriteSchema.xsd"/>
    </appSettings>

    <connectionStrings>
      <add name="AdvWorks"
           connectionString="Server=.;Database=AdventureWorks2014;Integrated Security=True"/>
    </connectionStrings>
</configuration>